@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap');

.header{
    background-color: #fa7785;
    font-size: large;
}

a{
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.carro{
    margin-left: 200px;
    font-weight: 500;
}

.item{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}